<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stockChecker" class="com.example.autowiring.InventoryService">
        <property name="serviceName" value="WarehouseInventory"/>
    </bean>

    <bean id="alerter" class="com.example.autowiring.NotificationService">
        <property name="notificationType" value="PushNotification"/>
    </bean>

    <bean id="orderServiceByConstructor" class="com.example.autowiring.OrderService" autowire="constructor"/>

</beans>